a {
    text-decoration: none;
    color: white;
}

.top {
    display: flex;
    color: white;
    justify-content: center;
    font-size: xx-large;
}

body {
    background-color: #000042;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.head {
    display: flex;
}

.homeBTN {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButton {
    background-color: #0077FF;
    transition: 0.5s ease;
    padding: 5px;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
}

.navButton:hover {
    background-color: #00B7FF;
}

#motto {
    vertical-align: middle;
    text-align: center;
}

#logoLink {
    color: white;
    text-decoration: none;
}

#logo {
    display: flex;
    justify-content: start;
    vertical-align: middle;
}

.topBody {
    display: flex;
    justify-content: center;
    width: 100%;
}