.collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.collectionDisplay {
    width: 30%;
    height: 200px;
    margin: 10px;
}

.thumb {
    text-align: center;
    vertical-align: middle;
    height: min-content;
    border: solid 2px rgb(119, 119, 255);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.extra {
    display: none;
    opacity: 0;
}

.thumb:hover {
    transition: ease-in 0.3s;
}

.thumb:hover>.extra {
    display: block;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}