{% extends "base.html" %} 
{% block title %}
    Cymatica
{% endblock title %}
{% block extraSrcs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js" integrity="sha512-w1Bktzax55ZbjW5Mqjz8+mKz4KqRjEUU35Dpq/ath29yskKqIGwNIHiFNp03m/OiJWDXvdQ1/g6aV+l4PeVO7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock extraSrcs %}
{% block styling %}
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
{% endblock styling %}
{% block content %}
    <script>
        function setup(){
            let c = createCanvas(windowWidth,1000)
            c.parent('sketchContainer');
        }
        function draw(){
            ellipse(width/2,height/2,100,100);
        }
    </script>
    <div class="title">
        <h1>Cymatica</h1>
        <h3>Customizable Audio Visualization</h3>
    </div>
    <div id="sketchContainer">
    </div>
    <table id="songList"></table>
{% endblock content %}