{% extends "base.html" %} 
{% load static %}
{% block title %}
    Cymatica
{% endblock title %}
{% block extraSrcs %}
<script defer src=https://cdn.JsDelivr.net/npm/p5></script>
<script defer src=https://cdn.JsDelivr.net/npm/p5/lib/addons/p5.dom.min.js></script>
<script defer src=https://cdn.JsDelivr.net/npm/p5/lib/addons/p5.sound.min.js></script>
{% endblock extraSrcs %}
{% block styling %}
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
{% endblock styling %}
{% block content %}
    <script>
        let song;
        let fft,fftr,fftl;
        let  right;
        let left;
        function preload(){
            song = loadSound("song.mp3")
            left = loadSound("song.mp3")
            right = loadSound("song.mp3")
            
        }
        function setup(){
            let c = createCanvas(windowWidth,600)
            c.parent('sketchContainer');
            left.setBuffer([left.buffer.getChannelData(0)]);
            right.setBuffer([right.buffer.getChannelData(1)]);
            fft = new p5.FFT();
            fftl = new p5.FFT();
            fftr = new p5.FFT();
            fft.setInput(song)
            fftr.setInput(right)
            fftl.setInput(left)
        }
        function draw(){
            background(255);
            let spectrum = fft.analyze();
            noStroke();
            fill(128);
            for (let i = 0; i< spectrum.length; i++){
                let x = map(i, 0, spectrum.length, 0, width);
                let h = -height + map(spectrum[i], 0, 255, height, 0);
                rect(x, height, width / spectrum.length, h )
            }
            spectrum = fftl.analyze();
            noStroke();
            fill(128);
            for (let i = 0; i< spectrum.length; i++){
                let x = map(i, 0, spectrum.length, 0, width);
                let h = -height + map(spectrum[i], 0, 255, height, 0);
                rect(x, height, width / spectrum.length, h )
            }
            spectrum = fftr.analyze();
            noStroke();
            fill(128);
            for (let i = 0; i< spectrum.length; i++){
                let x = map(i, 0, spectrum.length, 0, width);
                let h = -height + map(spectrum[i], 0, 255, height, 0);
                rect(x, height, width / spectrum.length, h )
            }
            let waveform = fft.waveform();
            noFill();
            beginShape();
            stroke(0);
            for (let i = 0; i < waveform.length; i++){
                let x = map(i, 0, waveform.length, 0, width);
                let y = map( waveform[i], -1, 1, 0, height);
                vertex(x,y);
            }
            waveform = fftr.waveform();
            noFill();
            beginShape();
            stroke(0);
            for (let i = 0; i < waveform.length; i++){
                let x = map(i, 0, waveform.length, 0, width);
                let y = map( waveform[i], -1, 1, 0, height);
                vertex(x,y);
            }
            waveform = fftl.waveform();
            noFill();
            beginShape();
            stroke(0);
            for (let i = 0; i < waveform.length; i++){
                let x = map(i, 0, waveform.length, 0, width);
                let y = map( waveform[i], -1, 1, 0, height);
                vertex(x,y);
            }
            endShape();
        }
        function mousePressed(){
            if (mouseX > 0 && mouseX < width && mouseY>0 && mouseY<height){
                if (song.isPlaying()){
                    song.pause();
                    left.pause();
                    right.pause();
                }
                else{
                    song.play(0,1,1,float(song.currenTime));
                    left.play(0,1,1,float(song.currenTime));
                    right.play(0,1,1,float(song.currenTime));
                }
            }
        }

        function windowResized() {
            let d = select("#sketchContainer")
            dimens = d.size()
            resizeCanvas(dimens.width, 600);
            lastWidth = windowWidth;
        }
    </script>
    <div class="title">
        <h1>Cymatica</h1>
        <h3>Customizable Audio Visualization</h3>
    </div>
    <div id="sketchContainer">
    </div>
    <table id="songList">
        <tr>
            <th>Song</th>
            <th>Maker</th>
        </tr>
        {% for key,value in songs.items %}
            <tr>
                <td onclick="fetchSong({{ value.num }})">{{ key }}</td>
                <td>{{ value.maker }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}