{% extends "base.html" %}
{% load static %}
{% block title %}
    Collection
{% endblock title %}
{% block extraSrcs %}
    <link rel="stylesheet" href="{% static 'CSS/collection.css' %}"/>
{% endblock extraSrcs %}
{% block content %}
    <div class="collection">
        {% for key,value in collect.items %}
            {% url key as key_url %}
            <a href="{{ key_url }}"  class="collectionDisplay">
                <div class="{{ value.tags }} thumb">
                    <h3 class="title">{{ key }}</h3>
                    <div class="extra">
                        <h4>{{ value.maker }}</h4>
                        <p>
                            {{ value.description }}
                        </p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}
