{% load static %}
<div>
    {% url 'index' as index_url %}
    {% url 'collection' as col_url %}
    {% url 'about' as about_url %}
    <div id="logo">
        <a href="{{index_url}}" id="logoLink">
            <div>
                <img src="{% static 'images/favicon/logoBase.svg' %}" width="100"/>
                <p>Interstitia Studios</p>
            </div>
        </a>
        <span id="motto">Exploring the spaces between disciplines with interactive and explorative projects.</span>
    </div>
    <div>
        <span><a href="{{index_url}}">Home</a></span>
        <span><a href="{{col_url}}">Collection</a></span>
        <span><a>Contact</a></span>
        <span><a href="{{about_url}}">About</a></span>
    </div>
</div>