{% extends 'base.html' %} 
{% block title %} Interstitia Studios {% endblock title %}

{% block extraSrcs %}
    <link rel="stylesheet" href="https://github.com/IDGitHubMan/Interstitia/blob/master/Django/InterstitiaWebsite/CSS/index.css">
{% endblock extraSrcs %}

{% block content %}
    <div class="topBody">
        <div id="centralDisplay">
            <div class="overlay">
                <h3>Welcome!</h3>
            </div>
        </div>
    </div>
    <div class="bodySection">
        <p>Interstitia is a small team of multipotential students who want to share what they make, whatever that may be, for others' enjoyment and betterment. Each project hopes to cross between disciplines, concepts and ideas with thoughtful connections.</p>
        <a href="">
            <div class="buttonLink">
                <p>View Our Collection</p>
            </div>
        </a>
    </div>
    <div class="bodySection">
        <p>Our team has people from different backgrounds, each with their own stories and ideas to tell and share.</p>
        <a href="">
            <div class="buttonLink">
                <p>Learn About Our Team</p>
            </div>
        </a>
    </div>
{% endblock content %}