{% extends 'base.html' %} 
{% load static %}
{% block title %} Interstitia Studios {% endblock title %}

{% block extraSrcs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js" integrity="sha512-w1Bktzax55ZbjW5Mqjz8+mKz4KqRjEUU35Dpq/ath29yskKqIGwNIHiFNp03m/OiJWDXvdQ1/g6aV+l4PeVO7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'JS/preview.js' %}"></script>
    <link rel="stylesheet"  type="text/css" href="{% static 'CSS/index.css' %}">
{% endblock extraSrcs %}

{% block content %}
    <div class="topBody">
        <div id="centralDisplay" oncontextmenu="return false;">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
    <div class="bodySection">
        <p>Interstitia is a small team of multipotential students who want to share what they make, whatever that may be, for others' enjoyment and betterment. Each project hopes to cross between disciplines, concepts and ideas with thoughtful connections.</p>
        <a href="">
            <div class="buttonLink">
                <p>View Our Collection</p>
            </div>
        </a>
    </div>
    <div class="bodySection">
        <p>Our team has people from different backgrounds, each with their own stories and ideas to tell and share.</p>
        <a href="">
            <div class="buttonLink">
                <p>Learn About Our Team</p>
            </div>
        </a>
    </div>
{% endblock content %}