@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000042;
  color: white;
}

.topBody {
  display: flex;
  justify-content: center;
  width: 100%;
}
.overlay {
  flex-grow: 1;
}
.bodySection {
  height: 500px;
  margin: 10px;
}
.bodyText {
  border: solid 2px rgb(119, 119, 255);
}
.buttonLink {
  background-color: #0077ff;
  transition: 0.5s ease;
}
.buttonLink:hover {
  background-color: #00b7ff;
}
#defaultCanvas1 {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#defaultCanvas0 {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}
