@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app,
#app > div {
  height: 100%;
}

body {
  background-color: #000042;
  color: white;
  width: 100%;
}

#root {
  width: 100%;
}

.bodySection {
  height: 500px;
  margin: 10px;
}
.bodyText {
  border: solid 2px rgb(119, 119, 255);
}
.buttonLink {
  background-color: #0077ff;
  transition: 0.5s ease;
}
.buttonLink:hover {
  background-color: #00b7ff;
}

.p5Canvas {
  z-index: -10;
  position: relative;
}

.bodySection {
  opacity: 0;
  width: 0;
}

.bodySection.active {
  opacity: 1;
  width: 100%;
  transition: opacity 1s;
}

.bodyText {
  width: 0;
}

.bodyText.active {
  width: 100%;
}
